.section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   gap: 1rem;

   padding-top: 2rem;
   padding-bottom: 2rem;

   width: 100%;
   height: auto;

   border: 2px solid black;
}

.page {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 5%;

   width: 100%;
   height: auto;

   border: 2px solid red;
}

.pageTextLeft {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;

   width: 47.5%;

   gap: 3rem;
}

.pageTextLeftAlert {
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;

   width: 100%;

   gap: 1rem;
}

.pageTextLeftAlert > h1 {
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto-alerta);
   font-size: 3rem;
   font-weight: 900;

   width: 100%;

}

.pageTextLeftAlert > p {
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto-alerta);
   font-size: 1rem;
   font-weight: 900;

   width: 100%;

}

.pageTextLeftTitle {
   font-family: "Volkhov", serif;
   color: var(--cor-texto-principal);
   font-size: 2rem;
   font-weight: 700;

   width: 100%;

}

.pageTextLeftTitle > strong {
   
   color: var(--cor-texto-alerta);
   

}

.pageTextLeftLegend {
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1rem;
   font-weight: 400;

   width: 100%;

   text-align: justify;

}


.pageImageRight {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;

   width: 47.5%;
}

.pageImageRight > img {
   
   width: 60%;
}

.pageImageRightLegend {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;

   width: 100%;
}

.pageImageRightLegend > h3 {
   font-family: "Volkhov", serif;
   color: var(--cor-texto-principal);
   font-size: 2rem;
   font-weight: 700;

   width: 100%;

   text-align: center;
}

.pageImageRightLegend > p {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1.5rem;
   font-weight: 400;

   width: auto;

   text-align: center;
}


.pageImageRightLegend > p > a{
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1.5rem;
   font-weight: 400;

   padding: 0.3rem;

   width: 100%;

   text-align: center;

   border: 1px solid var(--cor-texto-alerta);
   border-radius: 1rem;
}

.pageImageRightLegend > p > a:hover {
   
   color: var(--cor-branco);
   background-color: var(--cor-texto-alerta);
   font-size: 1.5rem;
   font-weight: 400;

   padding: 0.3rem;

   width: 100%;

   text-align: center;

  
}


.pageTextRight {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 50%;
}

.pageTextRightLegend {
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1rem;
   font-weight: 400;

   text-align: justify;

   width: 100%;

}

.pageTextRightLegendName {
   color: var(--cor-texto-alerta);  
   font-weight: 600;

   width: 100%;

}

.pageTextRightSubtitle {
   font-family: "Volkhov", serif;
   color: var(--cor-texto-principal);
   font-size: 1.5rem;
   font-weight: 700;

   width: 100%;

   text-align: center;
}


.pageImageLeft {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 50%;

   gap: 2rem;
}

.pageImageLeftImage {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 80%;
}

.pageImageLeftImage > img {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 50%;

   gap: 2rem;
}

.pageImageLeftTitle {
   font-family: "Volkhov", serif;
   color: var(--cor-texto-principal);
   font-size: 2rem;
   font-weight: 700;

   width: 100%;
}

.pageImageLeftTitle > strong {
   color: var(--cor-texto-alerta);
}

.pageImageLeftSubtitle {
   font-family: "Volkhov", serif;
   color: var(--cor-texto-principal);
   font-size: 1rem;
   font-weight: 700;

   width: 100%;

   text-align: center;
}

.pageImageLeftLegend {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1rem;
   font-weight: 400;

   width: auto;

   text-align: center;
}

.pageImageLeftLegend > a {
   font-family: "Poppins", sans-serif;
   color: var(--cor-texto);
   font-size: 1rem;
   font-weight: 400;

   padding: 0.3rem;

   width: 100%;

   text-align: center;

   border: 1px solid var(--cor-texto-alerta);
   border-radius: 1rem;
}

.pageImageLeftLegend > a:hover {
   
   color: var(--cor-branco);
   background-color: var(--cor-texto-alerta);
   font-size: 1.5rem;
   font-weight: 400;

   padding: 0.3rem;

   width: 100%;

   text-align: center;

   border: 1px solid var(--cor-texto-alerta);
   border-radius: 1rem;
}