.AppStyle {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   gap: 1rem;

   width: 95%;
   min-height:95vh;

   margin-top: 1rem;
   margin-bottom: 1rem;

  
}