header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   

   width: 100%;
   height: fit-content;

   gap: 1rem;
}

.headerLogo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   width: 100%;
}

.headerLogoImage {
   width: 80%;
  height: auto;
}





