.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--cor-nav);
  border-radius: 0.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  &:focus {
    outline: none;
  }
}

.burgerLine {
  width: 2rem;
  height: 0.25rem;
  background: var(--cor-texto-alerta);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burgerOpen .burgerLine:nth-child(1) {
  transform: rotate(45deg);
}

.burgerOpen .burgerLine:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.burgerOpen .burgerLine:nth-child(3) {
  transform: rotate(-45deg);
}

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--cor-nav);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.navMenuOpen {
  transform: translateX(0);
}

.navItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navItem > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  padding: 0.3rem;
}

.navImage {
  max-width: 1em;
}

.navItem:hover {
  color: #106da3;
  border: 1px solid rgb(255, 4, 67);
  border-radius: 0.3rem;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--cor-nav);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 5;
  }

  .navMenuOpen {
    transform: translateX(0);
  }

  .navItem {
    margin: 1rem 0;
  }

  .navImage {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .navMenu {
    position: static;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    transform: translateX(0);
  }

  .navItem {
    margin: 0 1rem;
  }
}
