.footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   gap: 5%;
   
   width: 95%;
   height: 5vh;
}

.footerLogo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 10%;
}

.footerLogoImage {
   height: 100%;
}

.footerText {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 70%;
}

.footerTextTitle {
   font-size: 1em;
   font-weight: 400;
   text-align: justify;
}